---
import "aos/dist/aos.css";
import { Image } from "astro:assets";
import MarbleBg from "../img/marblebg.jpg";
import Lance from "../img/lance.jpg";
import Michelle from "../img/michelle.jpg";
import Alex from "../img/Alex-Newman.jpg";
import Greg from "../img/GregHood.jpeg";
import Kimberly from "../img/KimberlyFletcher.webp";
import Bill from "../img/bill-federer.jpg";
import Carol from "../img/carol-swain.jpg";
import Rickie from "../img/rickie.jpg";
import John from "../img/John-Diamond.jpg";
import Catherine from "../img/catherine.png";
import Josh from "../img/josh-hicks.jpeg";
import Erin from "../img/erin-lee.jpeg";
import Donica from "../img/donica.jpeg";
import Ford from "../img/ford.jpg";
import Agree from "../img/agree.jpg";
import Enns from "../img/enns.jpeg";
import Fitch from "../img/fitch.jpeg";
import Rocky from "../img/rocky.jpeg";
import Cari from "../img/cari.png";

const guests = [
  {
    name: "Dr. Lance Wallnau",
    title: "Author, Speaker, Television Host, Thought Leader",
    image: Lance,
  },
  {
    name: "Dr. Carol Swain",
    title:
      "Professor Emeritus of Political Science and Law at Vanderbilt University, Author, and Speaker",
    image: Carol,
  },
  {
    name: "Dr. Michelle Bachmann",
    title:
      "Dean, Robertson School of Government, Regent University; Former U.S. Congresswoman",
    image: Michelle,
  },
  {
    name: "Alex Newman",
    title:
      "Award-winning Journalist, Speaker, President of Liberty Sentinel Media, Inc.",
    image: Alex,
  },
  {
    name: "Dr. Greg Hood",
    title: "Author, Pastor, Teacher",
    image: Greg,
  },
  {
    name: "Dr. John Diamond",
    title: "American Republic Policy, Author, Television Host",
    image: John,
  },
  {
    name: "Kimberly Fletcher",
    title: "Founder and President of Moms For America",
    image: Kimberly,
  },
  {
    name: "Bill Federer",
    title: "Historian, Author, Speaker, Founder of American Minute",
    image: Bill,
  },
  {
    name: "Catherine Engelbrecht",
    title: "Founder of True the Vote",
    image: Catherine,
  },
  {
    name: "Erin Lee",
    title: "Founder of Protect Kids Colorado and StopGenderIdeology.com",
    image: Erin,
  },
  {
    name: "Rickie Bradshaw",
    title: "Pastor, Speaker, Prayer Leader",
    image: Rickie,
  },
  {
    name: "Justin Ford",
    title: "Realtor and Youth Mentor",
    image: Ford,
  },
  {
    name: "Robert & Jaime Agee",
    title: "Family Advocators, Founders of Banners4Freedom",
    image: Agree,
  },
  {
    name: "Donica Hudson",
    title: "Ordained Pastor, Author, Speaker and Media Personality",
    image: Donica,
  },
  {
    name: "Dr. Elizabeth Enns",
    title: "Dr. Elizabeth Enns, Educator, Candidate for S.C. House District 26",
    image: Enns,
  },
  {
    name: "Rocky Malloy",
    title: "National School Chaplain association",
    image: Rocky,
  },
  {
    name: "J. R. Fitch",
    title: "Financial Advisor and Founder of More Lord Kingdom",
    image: Fitch,
  },
  {
    name: "Cari Bartholomew",
    title: "Candidate for State School Board 13 Utah",
    image: Cari,
  },
  {
    name: "Josh Hicks",
    title: "Filmmaker and Storyteller of America's Identity Crisis",
    image: Josh,
  },
];
---

<section class="relative py-16 bg-gray-100" id="guests">
  <div class="absolute inset-0">
    <Image
      src={MarbleBg}
      alt="Background"
      class="w-full h-full object-cover opacity-30"
    />
  </div>
  <div class="max-w-7xl mx-auto px-4 relative z-10">
    <h2
      class="text-4xl font-bold text-gray-800 mb-8 text-center"
      data-aos="fade-up"
    >
      Featured Guests
    </h2>
    <h3
      class="text-xl font-medium text-gray-600 mb-12 text-center max-w-2xl mx-auto"
      data-aos="fade-up"
      data-aos-delay="200"
    >
      Meet the experts and patriots who bring America's history to life.
    </h3>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      {
        guests.map((guest, index) => (
          <div
            class="group relative overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl"
            data-aos="fade-up"
            data-aos-delay={300 + index * 100}
          >
            <Image
              src={guest.image}
              alt={guest.name}
              class="w-full h-96 object-cover object-top filter transition-transform duration-300 group-hover:scale-105 group-hover:brightness-90"
            />
            <div class="absolute bottom-0 left-0 right-0 p-4 text-white bg-gray-900 bg-opacity-80">
              <h3 class="text-lg font-semibold">{guest.name}</h3>
              <p class="text-sm max-h-12">{guest.title}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
