---
import ButtonSecondary from "./ButtonSecondary.astro";
import 'aos/dist/aos.css';
import { Image } from "astro:assets";
import MarbleBg from '../img/marblebg.jpg';
import Lance from '../img/LanceWallnau.jpg';
import Michelle from '../img/Michelle-B.jpg';
import Alex from '../img/Alex-Newman.jpg';
import Greg from '../img/GregHood.jpeg';
import Kimberly from '../img/KimberlyFletcher.webp';
import Bill from '../img/bill-federer.jpg';
import Carol from '../img/carol-swain.jpg';
import Rickie from '../img/rickie-bradshaw.jpg';
import John from '../img/John-Diamond.jpg';


// ModernGuestCards.astro
const guests = [
  {
    name: "Dr. Lance Wallnau",
    title: "Speaker and Author",
    image: Lance
  },
  {
    name: "Dr. Carol Swain",
    title: "Political Scientist and Legal Professional",
    image: Carol
  },
  {
    name: "Dr. Michelle Bachmann",
    title: "Politician and Author",
    image: Michelle
  },
  {
    name: "Rickie Bradshaw",
    title: "Pastor",
    image: Rickie
  },
  {
    name: "Alex Newman",
    title: "Journalist and Author",
    image: Alex
  },
  {
    name: "Dr .Greg Hood",
    title: "Speaker and Author",
    image: Greg
  },
  {
    name: "Dr. John Diamond",
    title: "Speaker and Author",
    image: John
  },
  {
    name: "Kimberly Fletcher",
    title: "Moms For America",
    image: Kimberly
  },
  {
    name: "Bill Federer",
    title: "Historian and Author",
    image: Bill
  }
];
---

<section class="relative py-16 bg-gray-100" id="guests">
  <div class="absolute inset-0">
    <Image
      src={MarbleBg}
      alt="Background"
      class="w-full h-full object-cover opacity-30"
    />
  </div>
  <div class="max-w-7xl mx-auto px-4 relative">
    <h2 class="text-5xl font-bold text-gray-800 mb-4 text-center" data-aos="fade-up">Featured Guests</h2>
    <h3 class="text-xl font-medium text-gray-600 mb-12 text-center max-w-2xl mx-auto" data-aos="fade-up" data-aos-delay="200">
      Meet the experts and patriots who bring America's history to life.
    </h3>
    <div class="grid grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center">
      {guests.map((guest, index) => (
          <div class="group relative overflow-hidden rounded-lg shadow-lg transition-all duration-300 hover:shadow-xl" data-aos="fade-up" data-aos-delay={300 + index * 100}>
            <Image src={guest.image} alt={guest.name} class="w-96 h-96 object-cover object-top transition-all duration-300 group-hover:scale-105" />
            <div class="absolute inset-0 bg-gradient-to-t from-black/80 via-black/50 to-transparent"></div>
            <div class="absolute bottom-0 left-0 right-0 p-4 text-white">
              <h3 class="text-xl font-bold mb-1">{guest.name}</h3>
              <p class="text-sm mb-2 hidden">{guest.title}</p>
            </div>
          </div>
      ))}
    </div>
  </div>
</section>